:root, [data-theme="default"] {
    --background-body-color: #262626;
    --font-color:white;
    --border-color:#adadad;
    --box-color:#3c3c3c;
    --img-background:black;
    --box-shadow:#f4f4f4;
    --author-color:rgb(43, 173, 216);
    --border-line-color:#adadad;
    --box-height:390px;
    --box-width:215px;
    --description-color: #dcdcdc;
}

[data-theme="light"] {
    --background-body-color: white;
    --font-color:#444;
    --border-color:black;
    --box-color:rgb(31, 247, 157);
    --img-background:#f4f4f4;
    --box-shadow:rgb(31, 247, 157);
    --author-color:black;
    --border-line-color:#0e0e0e;
  }

body{
    background-color: var(--background-body-color);
    padding: 2em;
    color: var(--font-color);

    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;



}

.site-title{
    grid-area: title;
    font-size: 32px;
    font-family: 'Trebuchet MS';
    border: 1px solid var(--border-color);
    padding: 5px 25px;
    justify-self: center;
}


.switch{
    grid-area: switch;
    justify-self: center;
    align-self: center;
    position: relative;
    width: 60px;
    height: 34px;
}

#toggle_action{
    display: none;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#fcfcfc;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }
}
  input:checked + .slider {
    background-color: rgba(39, 35, 35, 0.986);
    &:before {
        transform: translateX(26px);
    }
  }
  input:focus + .slider {
    box-shadow: 0 0 1px ;
  }

//    Rounded sliders 
  .slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
        background-color: #aaaaaa;
    }
  }



.search-container{
    grid-area: searchBox;
    display: grid;
    width: 100%;
    margin-top: 1.5em;
    justify-self: center;
    justify-content: stretch;;

    #search{
        height: auto;
        background-color:var(--background-body-color);
        padding :0.5em 0.7em;
        font-size: 20px;
        color:var(--font-color);
        border: 2px solid var(--border-line-color);
        border-top: var(--background-body-color);
        border-left: var(--background-body-color);
        border-right: var(--background-body-color);
    }
}


.wrapper{
    display: grid;
    grid-template-areas:
        ' . title title switch'
        '. searchBox searchBox tcontrol';

}







#news-articles {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 1em;
  margin-top: 2em;
  padding: 0;
  list-style-type: none;


  .article {
    display: grid;
    justify-items: center;
    align-items: center;
    height: var(--box-height);
    width: var(--box-width);
    background-color:var(--box-color);
    padding: 0.8em;
    border-radius: 0.5em;

    &:hover{
      transform: scale(1.03);
      transition: all 0.3s;
     }
    
    .article-link{
      height: var(--box-height);
      display: flex;
      flex-direction: column;
      color: var(--font-color);
      text-decoration: none;
      gap: 1em;

      .img_area {
        display: grid;
        background-color:var(--img-background);
        align-content: center;
        justify-content: center;
        height: 180px;
        border: 1px solid black;

        img {
          width: 100%;
          max-height: 180px;
        }
      }

      .article-title {
        overflow: hidden;
        font-size: 19px;
        padding: 0;
        margin: 0;
        height: 75px;


        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;

      }
      
      .article-description {
        color: var(--description-color);    
        padding: 0;
        margin: 0;
        height: 65px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
      }

      .article-author {
        font-family: Trebuchet MS;
        color: var(--author-color);
        max-height: 25px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;

      }
    }
  
  }


  .not-found{
    grid-column: 2 / span 3;
    color:var(--font-color);
    font-size: 25px;
    margin: 0;
  }

  .load{
    grid-column: 2 / span 3;
    color:var(--font-color);
    font-size: 25px;
    margin: 0;
  }

}

// li{
//   // list-style-type: none;
//   padding: 0;
//   margin: 0;
// }
